* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  min-height: 80vh;
  margin-top: 5%;
  background-color:rgb(255, 255, 255);

}
.h2style{
  color:rgb(160, 102, 199);

}

.form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.input {
  width: 50%;
  border: none;
  padding: 12px;
  border: 1px solid #ccc;
  margin-right: 6px;
}
.search {
  border: none;
  background: rgb(160, 102, 199);
  padding: 12px 20px;
  color: white;
}
.search:hover {
  color:rgb(213, 183, 233);
}
.footer-copyright{
  min-height: 10vh;
  background-color:  rgb(133, 89, 163);
  color:rgb(255, 255, 255)
}
