.food {
  width: 32rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0rem 0.2rem 0.5rem 0.2rem #aaa;
  background-color:rgb(255, 255, 255);
  color: black;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.myStyle {
  border: none;
  background: rgb(160, 102, 199);
  padding: 12px 20px;
  color: white;
}
.linkStyle {
  color: white;
  text-decoration: none;
}
.linkStyle:hover {
  text-decoration: none;
  color: rgb(213, 183, 233);
}
